.tooling/db2sf9d98a731-c790-4ed5-bcba-d1d0b09c3c36/dbToSalesforce.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:dynamodb="http://www.mulesoft.org/schema/mule/dynamodb"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/dynamodb http://www.mulesoft.org/schema/mule/dynamodb/current/mule-dynamodb.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
  <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="96dc6ac3-5df1-49f5-82ec-9bf57b47b74d" >
    <http:listener-connection host="0.0.0.0" port="${http.port}" />
  </http:listener-config>
  <dynamodb:config name="Amazon_DynamoDB_Configuration" doc:name="Amazon DynamoDB Configuration" doc:id="52cf412c-b051-41f2-9091-a04ca3b65346" >
    <dynamodb:basic-connection region="US_WEST_2" accessKey="${dynamodb.accesskey}" secretKey="${dynamodb.secretkey}"/>
  </dynamodb:config>
  <configuration-properties doc:name="Configuration properties" doc:id="2f73ede8-2d61-4287-b94f-551bfa7783b3" file="config.yaml" />
  <salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="aeb819e7-3670-4d3e-a0ab-4ed85295904a" >
    <salesforce:basic-connection username="${salesforce.username}" password="${salesforce.password}" />
  </salesforce:sfdc-config>
	<flow name="dbMainPage" doc:id="f8fa6400-4767-4dbc-a484-89b3d7fc27fc" >
    <http:listener doc:name="Listener" doc:id="30e22851-c066-4971-8e8d-bdfae658ca91" config-ref="HTTP_Listener_config" path="/">
      <http:response statusCode="302" >
        <http:headers ><![CDATA[#[output application/java
---
{
	"Location" : "/api"
}]]]></http:headers>
      </http:response>
    </http:listener>
    <dynamodb:scan doc:name="Scan" doc:id="e6215d1f-166f-4b01-b66b-d62f9980c581" config-ref="Amazon_DynamoDB_Configuration"/>
		<logger level="INFO" doc:name="Logger" doc:id="f4cb428b-f3f8-4e08-83fd-812fefd30cc0" />
		<salesforce:create doc:name="Create" doc:id="5f5f533e-b802-4d1c-ae75-2e475e8857a5" config-ref="Salesforce_Config" />
  
</flow>
  <flow name="dbApiURL" doc:id="2ff4f6b9-5dfa-4cfb-87a1-711be9f42047" >
    <http:listener doc:name="Listener" doc:id="8f32c649-ef09-490a-9f83-09a976b0e93d" config-ref="HTTP_Listener_config" path="/api"/>
    <set-variable value="${dynamodb.accesskey}" doc:name="Set Variable" doc:id="0178dd47-11b2-4c7b-953f-90d74bfff145" variableName="liveDB"/>
    <choice doc:name="Choice" doc:id="c1d734b8-463d-4f12-a8d1-250e52cbb1d5" >
      <when expression='#[vars.liveDB != ""]'>
        <dynamodb:scan tableName="Leads" doc:name="Scan" doc:id="700bf7a9-b33e-4856-9259-9227887d7514" config-ref="Amazon_DynamoDB_Configuration" select="ALL_ATTRIBUTES" />
        <ee:transform doc:name="Transform Message" doc:id="3212749a-d1ee-4b1e-abf2-f4079c9830ea">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
//{
//	count: payload.count,
//	items: payload.items
//}

payload.items map {
	Company: $.Company.s,
	FirstName: $.FirstName.s,
	LastName: $.LastName.s,
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
        <salesforce:create doc:name="Create" doc:id="e3f1eaab-3d83-4eae-abdc-eba1d3efe8b9" config-ref="Salesforce_Config" type="Lead" />
        <logger level="INFO" doc:name="Logger" doc:id="3ec37096-5800-4a9e-87b8-4790c901acee" message="#[payload]" />
        <set-payload value="Leads Sucessfully Inserted!" doc:name="Set Payload" doc:id="9c351cdd-bb47-4266-9c47-8fd45919190f" />
      </when>
      <otherwise >
        <ee:transform doc:name="Transform Message" doc:id="724da020-5412-4284-bbc8-3f8f98e94c68" >
          <ee:message >
            <ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[
	{
		Company: "Fletch Communications (local)",
		LastName: "Houston",
		FirstName: "Sam"
	},
	{
		Company: "Vertigo Heights (local)",
		LastName: "Keynes",
		FirstName: "Milton"
	}
]]]></ee:set-payload>
          </ee:message>
        </ee:transform>
        <salesforce:create type="Lead" doc:name="Create" doc:id="7cad09d8-eb1f-4ed0-9d8a-e541e04e6b00" config-ref="Salesforce_Config" />
        <set-payload value="Leads Sucessfully Inserted (local)!" doc:name="Set Payload" doc:id="fc0d7c35-5060-4e8d-9179-76896faf8003" />
      </otherwise>
    </choice>
    <error-handler >
      <on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="41fb6751-93b4-4ce6-a60c-7ef390b1ae19" >
        <set-payload value="Unable to create Salesforce records" doc:name="Set Payload" doc:id="0b401d2b-dd84-459f-a0aa-781d57094418" />
      </on-error-continue>
    </error-handler>
  </flow>
</mule>
