.tooling-apps-cache/app/sf2sf/sf2sf.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
  <configuration-properties doc:name="Configuration properties" doc:id="bdc8bd07-2c2f-4552-bd70-ad0b542cf986" file="config.yaml" />
  <salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="41e8e461-0b4f-4ef9-a2b0-6c8025b89fca" >
    <salesforce:basic-connection username="${org1.username}" password="${org1.password}" securityToken="${org1.security_token}" />
  </salesforce:sfdc-config>
  <salesforce:sfdc-config name="Salesforce_Config2" doc:name="Salesforce Config" doc:id="38a2d8f2-0f4c-4465-a04d-bc98cfc8e7a5" >
    <salesforce:basic-connection username="${org2.username}" securityToken="${org2.security_token}" password="${org2.password}"/>
  </salesforce:sfdc-config>
  <flow name="sf2sfFlow" doc:id="e9c2b85c-8fe7-41c4-bf7b-adc5a5de332e" >
    <salesforce:new-object-listener doc:name="On New Object" doc:id="39ce3698-d456-4924-ada2-e055af1da6d6" config-ref="Salesforce_Config" objectType="Case">
      <scheduling-strategy >
        <fixed-frequency />
      </scheduling-strategy>
    </salesforce:new-object-listener>
    <ee:transform doc:name="Transform Message" doc:id="c6eff0d5-65d4-4870-b520-b6841a70db67" >
      <ee:message >
        <ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	Status: payload.Status,
	Priority: payload.Priority,
	Origin: payload.Origin,
	Description: payload.Description,
	Type: payload.Type,
	Reason: payload.Reason,
	Subject: payload.Subject,
	ClosedDate: payload.ClosedDate,
	ContactPhone: payload.ContactPhone,
	ContactMobile: payload.ContactMobile,
	ContactEmail: payload.ContactEmail,
	Comments: payload.Comments
}]]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <salesforce:create doc:name="Create" doc:id="21200db8-841b-4d40-90d7-4b438a589bf7" config-ref="Salesforce_Config2" type="Case"/>
    <error-handler >
      <on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="443f9dc9-b5aa-4e21-8db1-04f995cf111a" >
        <set-payload value="Unable to create Salesforce record" doc:name="Set Payload" doc:id="ca9af80a-1b30-4156-a5ba-96722508b827" />
      </on-error-continue>
    </error-handler>
  </flow>
</mule>
